.button {
    border: 1px solid;
    padding-block: 10px;
    padding-inline: 6px;
    border-radius: 6px;
    display: inline-block;
    background-color: transparent;
}

@media (min-width: 800px) {
    .button {
        padding-block: 12px;
    }
}
