*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    overflow-x: hidden;
}

html {
    color-scheme: dark light;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: balance;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
